numpy
ghp-import
jax
sphinx
pydata-sphinx-theme
jaxlib
tqdm
sphinx-panels
numpydoc
sphinx-copybutton

## uncomment when we have 'sphinxcontrib.bibtex' needed. Add 'sphinxcontrib.bibtex' to extensions in confy.py
# sphinxcontrib-packages

## uncomment when the README file has one of the expected file extensions ['.txt', '.rst']. Add "sphinx_gallery.gen_gallery" to extensions in confy.py
# sphinx-gallery